<footer class="footer">
	<nav id="menu_items">
    <ul class="row row-centered">
      <li class="menu-item col-centered"><%= link_to "About",about_path %></li>
      <li class="menu-item col-centered"><%= link_to "Java",java_path %></li>
      <li class="menu-item col-centered"><%= link_to "C# .Net",dotnet_path %></li>
      <li class="menu-item col-centered"><%= link_to "Rails",rails_path %></li>              
      <li class="menu-item col-centered"><%= link_to "Contact",contact_path %></li>
    </ul>            
	</nav>
</footer>