<!DOCTYPE html>
<html>
<head>
  <title>JoebauerCo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% body_id = current_page?(root_url)? "id=\"home-page\"" : "" %>
<body <%= raw(body_id) %>>
	<div class="container">
	<%= yield %>
	</div>

	<%= render 'layouts/footer' %>
</body>
</html>
